.projects-title {
  font-size: 2.5rem;
  color: #222;
  margin-bottom: 60px;
  font-weight: 600;
  position: relative;
}

.projects-title::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: #00bfa6;
  margin: 20px auto 0;
  border-radius: 2px;
}

#projects {
  padding: 40px;
  background-color: #f4f4f4;
  text-align: center;
  scroll-margin-top: 110px;
}

.projects-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.project-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: clamp(250px, 45%, 600px);
  max-width: 100%;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-align: center;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 0.6s ease-out forwards;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.project-image-container {
  width: 100%;
  aspect-ratio: 16/9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: 100%;

  transition: transform 0.3s ease-out;
}

.project-card:hover .project-image {
  transform: scale(1.05);
}

.project-title {
  background: black;
  color: white;
  height: 46px;
  font-weight: 900;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1024px) {
  .project-card {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .projects-container {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 95%;
  }
}
