#hero {
  width: 100%;
  height: 100vh;
  background-image: url("../../../public/images/office-932926_1280.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.hero-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-content {
  position: absolute;
  top: 30%;
  left: 0%;
  color: white;
  text-align: left;
  padding: 20px;
  width: max-content;
}

.hero-title,
.hero-subtitle {
  font-weight: 900;
  font-size: 5rem;
  line-height: 4rem;
  padding-bottom: 17px;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 8s steps(300, end) forwards;
}

.hero-title {
  animation: typing 3s steps(20, end) forwards;
}

.hero-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  animation: typing 3s steps(20, end) forwards;
  animation-delay: 2s;
}

.hero-buttons {
  position: absolute;
  bottom: 245px;
  left: 2%;
  transform: translateX(-50%) translateY(20px);
  display: flex;
  gap: 15px;
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  animation: fadeIn 0.5s ease-out forwards;
  animation-delay: 6s;
}

.github-button,
.contact-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.github-button {
  background-color: #333;
  color: white;
}

.github-button:hover {
  background-color: #555;
}

.contact-button {
  background-color: white;
  color: black;
  border: 1px solid;
}

.contact-button:hover {
  background-color: #f0f0f0;
}

@media screen and (max-width: 1200px) {
  #hero {
    background-position: right;
  }

  .hero-title {
    font-size: 3rem;
    line-height: 3.5rem;
    padding-bottom: 10px;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }

  .github-button,
  .contact-button {
    font-size: 1.1rem;
    padding: 10px 20px;
  }

  .hero-buttons {
    bottom: 180px;
    left: 4%;
  }
}

@media screen and (max-width: 768px) {
  #hero {
    height: 70vh;
    background-position: center;
  }

  .hero-content {
    padding: 15px;
    top: 25%;
  }

  .hero-title {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .github-button,
  .contact-button {
    font-size: 1rem;
    padding: 8px 16px;
  }

  .hero-buttons {
    bottom: 130px;
    left: 6%;
  }
}

@media screen and (max-width: 480px) {
  #hero {
    height: 60vh;
  }

  .hero-content {
    top: 20%;
    padding: 10px;
  }

  .hero-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .hero-subtitle {
    font-size: 0.9rem;
  }

  .github-button,
  .contact-button {
    font-size: 0.9rem;
    padding: 7px 14px;
  }

  .hero-buttons {
    bottom: 100px;
    left: 8%;
    gap: 10px;
    flex-direction: column;
  }
}
