.footer {
  text-align: center;
  padding: 20px;
  background-color: #222;
  color: white;
}

.social-links {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 10px;
}

.social-icon {
  font-size: 30px;
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
  color: #0077b5;
}
